.login {
  display: grid;
  position: relative;
  grid-template-columns: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 400px;
  height: 160px;
  border: 4px solid darkblue;
  padding: 20px;
  box-shadow: 0 0.4rem 0.4rem black;
}

.styleInside {
  display: flex;
  flex-direction: column;
}

.writeName {
  font-size: 20px;
}

.writeRoom {
  font-size: 20px;
}

.sendToTheRoom {
  font-size: 25px;
}

.info {
  font-size: 18px;
  text-align: center;
  text-decoration: underline 2px solid darkblue;
}
